<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases><!-- 起别名在mapper中使用 -->
		<typeAlias type="net.spring.entity.User" alias="User"/>
		<typeAlias type="net.spring.entity.Product" alias="Product"/>
	</typeAliases>

	<mappers>
		<mapper resource="net/spring/dao/mapper/mapper.xml" />
	</mappers>
</configuration>